@import url("form.css");
@import url("auth.css");

#main-wrapper {
    background-color: var(--clr-analogous-2-50);
    background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/light_toast.png");
    background-blend-mode: lighten;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

#salon-title-login {
    color: var(--salon-purple);
}

@media (max-width: 992px) {
    .form-container {
        width: 90%;
    }
}