@import url("form.css");
@import url("auth.css");

#form-wrapper {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: var(--clr-analogous-2-50);
    background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/light_toast.png");
    background-blend-mode: lighten;
}

.form-container {
    width: 40%;
}

@media (max-width: 992px) {
    .form-container {
        width: 90%;
    }
}