@import url("auth.css");
@import url("form.css");

#form-wrapper {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: var(--clr-analogous-2-50);
    background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/light_toast.png");
    background-blend-mode: lighten;
}

.form-container {
    width: 50%;
}

::placeholder {
    font-style: italic;
}

#input-password::placeholder {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0;
}

@media (max-width: 992px) {
    #form-wrapper {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .form-container {
        width: 90%;
    }

    #form-wrapper .row {
        flex-direction: column;
        row-gap: 0.5rem;
    }
}