@import url("sidebar.css");

#salon-title {
    color: var(--clr-triadic-1-400);
}

#employee-info-container{
    display: flex;
    align-items: center;
    padding: 1em;
    padding-left: 2em;
    border: 2px lightgray solid;
    border-radius: var(--radius);
}

#report-info-container-successful{
    margin-top: 0.5em;
    display: flex;
    align-items: center;
    padding: 1em;
    padding-left: 2em;
    border: 3px rgb(24, 194, 137) solid;
    background-color: rgb(212, 255, 235);
    border-radius: var(--radius);
    margin-bottom: 0.5em;
}

#report-info-container-unsucessful{
    display: flex;
    align-items: center;
    padding: 1em;
    padding-left: 2em;
    border: 3px rgb(227, 17, 17) solid;
    background-color: rgb(255, 212, 215);
    border-radius: var(--radius);
    margin-bottom: 0.5em;
}

#alert-icon {
    background-image:url("../assets/images/exclamation-triangle-fill.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    width: 32px;
    height: 32px;
    border-radius: var(--radius);
    margin-right: 0.5em;
    transition: background-image 180ms ease-in-out, background-size 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

#alert-unsuccessful-text{
    font-size: 1.2em;
    font-weight: bolder;
    color: rgb(227, 17, 17);
}


#alert-successful-text{
    font-size: 1.2em;
    font-weight: bolder;
    color: rgb(7, 169, 115);
}


#alert-time{
    font-weight: bold;
    color:rgba(15, 15, 20, 0.597);
    margin-right: 0.25em;
}

#alert-link{
    text-decoration: none;
    margin-left: 0.25em;
    padding-left:0.25em;
    color:rgba(26, 26, 27, 0.555);
    border-left:rgba(26, 26, 27, 0.555) solid;
    border-width: thin;
}

#alert-link:hover{
    font-weight: 500;
}

.flex-container {
  display: flex;
}


#employee-name{
    font-size: 1.2em;
    font-weight: 700;
}

#employee-email{
    font-size: 1em;
    color: var(--clr-triadic-1-400);
}

#customer-view-btn {
    color: var(--clr-triadic-1-500);
    background-color: var(--clr-triadic-1-50);
    border-color: var(--clr-triadic-1-100);
}

#customer-view-btn:hover {
    background-color: var(--clr-triadic-1-500);
    color: var(--clr-triadic-1-50);
}

input[type='password']{
    font-family: 'Verdana', sans-serif;
    letter-spacing: 0;
    font-style: italic; 
    font-size: .8em;
}

.form-control:focus{
    box-shadow: 0 0 0 0.25rem var(--clr-triadic-1-50) !important;
    border-color: var(--clr-triadic-1-300) !important;
}

.form-label:has(+ .form-control:focus){
    color: var(--clr-triadic-1-300) !important;
}

#employee-save-settings-btn{
    background-color: var(--clr-triadic-1) !important;
}

#employee-save-settings-btn:hover{
    background-color: var(--clr-triadic-1-200) !important;
}

#employee-save-settings-btn:active {
    background-color: var(--clr-triadic-1-500) !important;
}

@media (max-width: 992px) {
    #sidenav {
        position: fixed;
        top: unset;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        height: auto;
    }

    #salon-title {
        display: none;
    }

    #sidenav-container {
        padding: 0.5rem 1rem;
        position: relative;
        background-color: #FFF;
        z-index: 1000;
    }

    #sidenav-container > .nav {
        flex-direction: row;
        gap: 0.25rem;
    }

    #sidenav-container > .nav .nav-separator {
        display: none;
    }

    #sidenav-container > .nav > .nav-item {
        flex-grow: 1;
    }

    #sidenav-container .nav-link {
        text-align: center;
        font-size: 0.65em;
        font-weight: 600;
        flex-direction: column-reverse;
        border-radius: unset;
        align-items: unset;
        padding: 0;
    }

    #sidenav-container .nav-item.active > .nav-link {
        background-color: unset;
        font-weight: 700;
    }

    #sidenav-container .nav-link > .fa {
        margin-left: unset;
        margin-right: 0;
        margin-bottom: 0.25rem;
        display: block;
        text-align: center;
        padding: 0.5rem;
        border-radius: var(--radius);
        font-size: 1.5em;
    }

    #sidenav-container .nav-item.active > .nav-link > .fa {
        background-color: var(--clr-primary-50);
    }

    #bottom-btn-container {
        display: none;
    }

    #fab-container {
        display: flex !important;
    }

    #employee-info-container{
        padding: 0;
        border: none;
    }
    
    #employee-name{
        font-size: 1em;
        font-weight: 700;
    }
    
    #employee-email{
        font-size: .8em;
        color: var(--clr-triadic-1-400);
    }

    #report-info-container-unsucessful{
        padding-top: 0;
        padding-right: 0.5em;
        padding-bottom: 0;
        padding-left: 0.5em;
        border-left: #b3b3b3 solid;
        border-top: #ffffff00;
        border-bottom: #ffffff00;
        border-right: #ffffff00;
        border-width: thin;
        border-radius: 0%;
        background-color: rgba(255, 255, 255, 0);
    }

    #report-info-container-successful{
        margin-left: 0.5em;
        padding-top: 0;
        padding-right: 0.5em;
        padding-bottom: 0;
        padding-left: 0.5em;
        border-left: #b3b3b3 solid;
        border-top: #ffffff00;
        border-bottom: #ffffff00;
        border-right: #ffffff00;
        border-width: thin;
        border-radius: 0%;
        background-color: rgba(255, 255, 255, 0);
    }

    #alert-time{
        font-weight: 500;
        margin-right: 0.2em;
        font-size: .8em;
    }

    #alert-link{
        margin-left: 0.2em;
        font-size: .8em;
    }

    #alert-unsuccessful-text{
        font-size: 1em;
        font-weight: 700;
    }

    #alert-successful-text{
        font-size: 1em;
        font-weight: 700;
    }

}